<!DOCTYPE html>
<html>
    <head>
        <title>Conciertos</title>
        <link rel="stylesheet" href="css/conciertos.css">
    </head>
    <body>

        <div class="navbar">
            <nav>

                <ul> <!-- Define una lista desordenada -->
                    <li><a href="conciertos.html">Conciertos </a> </li>
                    <li><a href="agregar.html">Agregar nuevo</a> </li>  <!<!-- form -->                   
                </ul>

            </nav>
        </div>
        
        <h2>Proximos grandes conciertos en el pais</h2>
            <p>
                Quedese cerca para mas informacion 
            </p>
            
        <section class="sec_cold">
            
            <div class="coldplay">

                <img src="imagenes/coldplay.png">

            </div>
            <a href="evento.html" class="button">Mas informacion</a>

        </section>
        <section class="sec_bb">
            <div class="conejo">

                <img src="imagenes/badbunny.png">

            </div>
            <a href="evento.html" class="button">Mas informacion</a>
        </section>


    </body>
</html>
